@import "/node_modules/nord/src/sass/nord.scss";

$body-bg: $nord0;
$color: $nord5;

@import "~bootstrap/scss/bootstrap.scss";

* {
    color: $nord5;
}

html, body {
    background-color: $nord0;
    margin: 0;
    height: 100%;
}

.header {
    padding-top: 20px;
}

.navbar {
    padding: 10px;
    background-color: $nord2;
    color: $nord5;
}

    .navbar-brand {
        color: $nord5;
    }

    .navbar-nav {
        float: left;
        color: $nord5;
    }

    .btn {
        float: right;
    }

    .btn-danger {
        background-color: $nord11;
    }

.scoreboardHeader {
    text-align: center;
    padding-bottom: 5px;
}

.scoreboardHeaderContent {
    border-color: $nord8;
    border-width: 0.1cm;
    border-style: solid;
    border-radius: 25px;
}

.scoreboard {
    padding: 10px;
    height: max-content;
}

.footer {
    bottom: 0px;
    overflow: auto;
    //top: 94%;
}
